<!DOCTYPE html>
<html>
<head>
  <title>Temperature Conversion</title>
</head>
<body>
 
    <h1>Temperature Conversion</h1>
    <form action="/" method="post">
        <p>Enter the temperature to convert: <input type="number" name="temp"></p>
        <p>Select either fahrenheit or celsius for conversion: 
          <input type = 'radio' name='option' value='Fahrenheit'> Fahrenheit </input>
          <input type = 'radio' name='option' value='Celsius'> Celsius </input>
        </p>
    
    <input type="submit" value="Convert">
    </form>
    <p>
      Your temperature of {{ temp }} converts to {{ converted_t }} in {{ option }}
    </p>
</body>
</html>